/* CHEST COUNT INPUT */

#chestCountInput input {
  background: #2a2a2a;
  border: 2px solid #555;
  color: #eee;
  font-size: 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
  box-shadow: none;
}

#chestCountInput input:hover {
  border-color: #00e0ff;
  background: #0d3f4f;
  box-shadow: 0 0 4px #00e0ff;
}

/* CHEST BUTTON ROW */

.button-row button {
  background: #2a2a2a;
  border: 2px solid #555;
  color: #eee;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.button-row button:hover {
  border-color: #00e0ff;
  background: #0d3f4f;
  box-shadow: 0 0 4px #00e0ff;
}

.button-row button.selected {
  border-color: #00e0ff;
  background: #1a1a1a;
}

/* ERROR MESSAGE */

#error-message {
  color: #ff5555;
  margin-top: 10px;
}

#error-message.hidden {
  display: none;
}

.button-row.error {
  border: 2px solid #ff5555;
  border-radius: 6px;
}

/* RESULT */

#result {
  box-sizing: border-box;
}

.result-block {
  background: #2a2a2a;
  border-radius: 6px;
  box-sizing: border-box;
}

#result.hidden {
  display: none;
}

#resultContent {
  background: #555;
  border-radius: 6px;
}

.result-img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  object-fit: none;
}

.result-block {
  width: 100%;
  max-width: 164px;
}

